doctype html
html
    head
        link(rel='stylesheet', href='assets/libs/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='assets/libs/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='assets/styles/main.css')
        script(src='assets/libs/jquery.min.js')
        script(src='assets/libs/bootstrap/bootstrap.min.js')
        script(src='assets/libs/socket.io.js')        

    body
        block content