extends _layout
block content
    h1 Super Awesome Monitor Admin
    div
        form#messageForm.form-line
            a.reloadAll.btn.btn-primary
                | Reload All Page
        
        div.inlineBlock.topAligned
            b Participants        
            div#participants        
            div#messages