extends _layout
block content
    h1 Awesome Monitor Admin
    div
        form.form-line
            a.reloadAll.btn.btn-primary
                | Reload All Page
        br 
        br
        form#messageForm.form
            .form-group
                textarea.msg.form-control(col="25", row="10")
            .form-group    
                a.broadcast.btn.btn-primary
                    | Broadcast Message

    script(src='admin.js')