extends _layout
block content
    h1 Super Awesome Monitor
    div.broadcast.alert.alert-success.hide(role="alert")        

    iframe(src="http://www.baidu.com", name="baidu", id="baidu", target="baidu", scrolling="auto", frameborder="1")
    iframe(src="http://10.61.38.219:3000", name="taobao", id="taobao", target="_self", scrolling="auto", frameborder="1" hidefocus)
    iframe(src="http://www.douban.com", name="douban", id="douban", target="douban", scrolling="auto", frameborder="1" hidefocus)
    
    script(src='index.js')