doctype html
html
    head
        link(rel='stylesheet', href='assets/libs/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='assets/libs/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='assets/styles/main.css')
        script(src='assets/libs/jquery.min.js')
        script(src='assets/libs/bootstrap/bootstrap.min.js')
        script(src='assets/libs/socket.io.js')
        script(src='index.js')
        title Super Monitor
    frameset(rows="100px,100px,100px", framespacing="0", border="1", frameborder="1")
        frame(src="http://www.baidu.com", name="baidu", id="baidu", target="baidu", marginwidth="0", marginheight="0", scrolling="auto", frameborder="1")
        frame(src="http://www.taobao.com/", name="taobao", id="taobao", target="taobao", marginwidth="0", marginheight="0", scrolling="auto", frameborder="1")
        frame(src="http://www.douban.com", name="douban", id="douban", target="douban", marginwidth="0", marginheight="0", scrolling="auto", frameborder="1")
    body
        h1 Super Awesome Monitor
        //div
        //    div.inlineBlock
        //        span Your name:
        //            input(type="text", value="Anonymous")#name
        //
        //        form#messageForm
        //            textarea(rows="4", cols="50", placeholder="Share something!", maxlength=200)#outgoingMessage
        //            input(type="button", value="Share", disabled=true)#send
        //
        //    div.inlineBlock.topAligned
        //        b Participants
        //
        //        div#participants
        //
        //    div#messages



        //iframe(src="http://www.baidu.com", name="baidu", id="baidu", target="baidu", scrolling="auto", frameborder="1")
        //iframe(src="http://www.taobao.com", name="taobao", id="taobao", target="_self", scrolling="auto", frameborder="1" hidefocus)
        //iframe(src="http://www.douban.com", name="douban", id="douban", target="douban", scrolling="auto", frameborder="1" hidefocus)