extends _layout
block content
    //h1 Super Awesome Monitor
    .modal.broadcast.fade(role="dialog" data-backdrop="static")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title New Message !!!
                .modal-body
                    .msg.alert.alert-success(role="alert")        

    iframe(src="http://10.61.38.219/", name="baidu", id="baidu", target="baidu"
        , scrolling="auto", frameborder="1"
        , width="100%", height="100%")
    //- iframe(src="http://10.61.38.219:3000", name="taobao", id="taobao", target="_self", scrolling="auto", frameborder="1" hidefocus)
    //- iframe(src="http://www.douban.com", name="douban", id="douban", target="douban", scrolling="auto", frameborder="1" hidefocus)
    
    script(src='index.js')