body {
    padding: 3em;
    font-family: 'Open Sans', sans-serif;
    /*font-size: 1em;*/
}

iframe, frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal.broadcast .modal-body .msg {
    font-size: 50px;
}

.modal-content {
    top: 30%;
}
